/* Sidebar 
   ========================================================================== */

.sidebar {
	
}

.widget {
	margin-bottom: 1.25rem;
	ul {
		padding-left: 1.25rem;
		li {
			margin-bottom: 0.3rem;
		}
	}
	&-title {
		margin-top: 0;
	}
}
